{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "8.11.3"
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": ["dynamic-import-node", "react-loadable/babel"]
}
